sudo: required
language: go
go:
- '1.14'
services:
- docker
env:
  global:
  - DOCKER_BUILDKIT=1
  - secure: Nmr0MF6RxTEMRwTiFzlmdtZok8mPvNiF5GCQzrucTrzXwpAW85Bzu7M45137chP3gvsZokjel3s3diTYGpc81tPy3jf3gTE3Ba48Y4lxNiSPQC+Z4Iie9ZkPm46bTdN3Sg8c2/5tWJB/7dxYBKRhNzoE6sIt9nrTF6s1mVMmqWfe21bntiRTLoOM0zuUQQ3Y8AQSFHtfbn2GBl+wWpGGiyWLi2sYTL9KZgGwbjj1tL6QS+F9VOc1n+ARCvA5LOdhk6R1N6x1xsYy8EXMqFHxooXE5o6zdAZ+Xd9KPaKKXzlQMGJIhmnRJkAKkeCJNHYwCjiUlyptQncpxRwyRWac853LnbGAcTPLt8n2PyUikCWK/zOoCMFbdb7AX8cUxLn1U/z8XIk8RN6uuvUm3NKQLsK+F9ydc94yUfg/1JhuzqbU9gX+KhYRbtNLe6ummYoi0vknZP74dWi0ju/4iXFuo1UULDVtmn7uy91tMZ1pdnOqHjUB5CapTgPSNm4Lhhz1MFyM2GZy7TRWJ76zxFfvjEzvpEsAsV4HZCLguAqXvyX55L633M99W00nG+99RgDlSN00DkJUE/Tkrr+KNm5GZKJT5pE7oJXk11bAiNldM9FoWuAGKUuk1aR7KfZNGX+A9n0b8lJhkV3OAeorv9GClIYU6YW7z/wyrS2qg1SjNKo=
  - secure: LjRAPPr8Gew5MQt2KTPsWPaFVZE5KNeVfTRsMfIqnEYd2Ky+ipSyCx+/+noAL8Z135a9L2beIKh/3vk7Z9yENnNSCAmkkuL2usI1zYb1zUTXf98Uv83emkM9v1H91NslwuDVm0wge3UK3KF6wUlirdUNu22uK8agAulT58DpxQBTmtZKW/snF+p4SpnwB0edDybpf69uFPHcp4tlqt3XVOAKbbDu6BHLKhwmOj5JDAIxDtSjRX15c3I2Q2AD7YKRu2jo6ti1lBmb+Hn9Yp4K5N3olVQUTbRbxfn4BmRrfRk6SVJVlUGiMvIFxkxnfaEUYsIp3uJa4wHnHvofrL7oYKxS/RXmzJicl5Jg9TAS2KmDk61gKIOzhT8BDg34Gkhcxb4m3IMbVYWvPAj5awzsWyxNO9V/x173/Q3gaAstlMK4Pnmp0wfZnQ4g7LOGv1bAFw6Q7iSUE7lJAV7R5gZq6C71WlfW1DMIQC9iIivuLkbxsrBEDSFYpnxPc8E8ftBJemayN17O1k8tsh28vk5omLXYlXY0h5hVz0wHaZUiUPSVBqdf2QZIKwibJAjc5wxhideVSel++sxv6gj6WI5cRQac7R1KDEHZ59oKh8HliaTcxxy5wmaFUj3BxGSQEA/oGCoUmuv4oRYP/wiQceFWNe8GH94AWfz7vQctCbP3D5g=
before_install:
- curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
- sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu
  $(lsb_release -cs) stable"
- sudo apt-get update
- sudo apt-get install socat
- sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
- |
  echo '{"mtu": 1460}' | sudo tee /etc/docker/daemon.json
  sudo systemctl restart docker
- make install-deps
- env
script:
- make test
deploy:
- provider: script
  skip_cleanup: true
  script: make skaffold.push
  on:
    tags: true
    condition: "$TRAVIS_OS_NAME = linux"
