{"blocks":[{"type":"section","block_id":"section567","text":{"type":"mrkdwn","text":"*Merged PR* \n\n *Title:* <{{.PullRequest.HTMLURL}}|{{.PullRequest.Title}}> \n *Repo:* {{.Repo.Name}} \n *Branch:* `{{.PullRequest.Base.Ref}}` \n *Author:* {{.PullRequest.User.Login}} \n *Merged By:* {{.PullRequest.MergedBy.Login}} "},"accessory":{"type":"image","image_url":"{{.PullRequest.User.AvatarURL}}","alt_text":"{{.PullRequest.User.Login}}"}}]}